body{
    background-color: whitesmoke;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bor{
    width: 350px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    box-shadow: 0px 0px 17px 2px rgba(141, 131, 131, 0.8);
    border-radius: 10px;
}
.form{
    padding-left: 60px;
}
input{
    border: solid 1.6px #d8dee2;
    background-color: #fafbfc;
    border-radius: 4px;
    padding-left: 15.36px;
}
.login{
    height: 30px;
    width: 200px;
    padding-top: 3px;
}
.img{
    width: 100%;
    height: 85px;
    padding-top: 20px;
    text-align: center;
}
.log{
    margin-top: 10px;
    padding-left: 60px;
}
.log button{
    margin-top: 17px;
    height: 40px;
    width: 220px;
    color: white;
    background-color: red;
    border-radius: 5px;
}
.error-message{
    color: red;
    font-size: 14px; 
    font-style: italic;
    display: inline-block;
}