body {
    font-family: Arial, sans-serif;
}
  
.quiz-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
  
.question {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  
.question p {
    font-weight: bold;
    margin-bottom: 10px;
}
  
.choices label {
    display: block;
    margin-bottom: 10px;
}
  
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: hsl(211, 97%, 49%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #065ab3;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #b92929, #fa6d6d);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    z-index: 1000;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 5%;
}

#header:hover {
    background: linear-gradient(to right, #fa6d6d, #b92929);
}

.content {
    margin-top: 100px;
}


#logo_header {
    width: 40px;
    height: 100%;
    max-height: 100%;
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 35%;
    margin-left: 30px;
}

#logo_header img {
    display: block;
    max-width: 50px;
    max-height: 45px;
    height: auto;
    border-radius: 5%;
}

#timer {
    margin-top: 13px;
    margin-right    : 20px;
}