body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.nav-menu {
    background-color: #ddd;
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu ul li {
    margin-bottom: 10px;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    color: #ad171c;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .nav-menu ul li a:hover {
    background-color: #ccc;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to right, #b92929, #fa6d6d);
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;
  }

  header:hover {
    background: linear-gradient(to right, #fa6d6d, #b92929);
  }

  header img {
    width: 40px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
  }

  header i {
    font-size: 20px;
  }

#searchInput {
    margin-left: 30%;
    width: 30%;
}

#searchResults {
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    top: 150px;
    width: 85%;
    right: 0px;
    margin: 20px auto;
    padding: 20px;
    margin-right: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding-top: 100px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #bb3737;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b57575;
}

table {
    display: none;
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect */
tr:hover {
    background-color: #ddd;
}

/* Button style */
button {
    padding: 5px 10px;
    border: none;
    background-color: #bb3737;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #b57575;
}